# Configure time
aclocal.m4
autom4te.cache
config.log
config.status
config.h
/Makefile
setup/config.fh
setup/constants.h
setup/constants_inverse_problem.h
setup/constants_tomography.h
setup/precision.h

# Build time
bin
lib
obj
src/decompose_mesh/*.mod
src/generate_databases/*.mod
src/meshfem3D/*.mod
src/specfem3D/*.mod

# documentation
manual_SPECFEM3D_Cartesian.aux
manual_SPECFEM3D_Cartesian.bbl
doc/USER_MANUAL/manual_SPECFEM3D_Cartesian.blg
doc/USER_MANUAL/manual_SPECFEM3D_Cartesian.brf
doc/USER_MANUAL/manual_SPECFEM3D_Cartesian.log
doc/USER_MANUAL/manual_SPECFEM3D_Cartesian.out
doc/USER_MANUAL/manual_SPECFEM3D_Cartesian.synctex.gz
doc/USER_MANUAL/manual_SPECFEM3D_Cartesian.toc
doc/USER_MANUAL/Schedule

# Trash files
.*swp
.*swo
*~
