[submodule "m4"]
	path = m4
	url = https://github.com/geodynamics/autoconf_cig.git
[submodule "utils/ADJOINT_TOMOGRAPHY_TOOLS/flexwin"]
	path = utils/ADJOINT_TOMOGRAPHY_TOOLS/flexwin
	url = https://github.com/geodynamics/flexwin.git
[submodule "src/inverse_problem_for_source/pyCMT3D"]
	path = src/inverse_problem_for_source/pyCMT3D
	url = https://github.com/wjlei1990/pycmt3d
