# Configure time
src/Makefile.inc
src/libscotch/Makefile.org
src/libscotchmetis/Makefile.org
src/scotch/Makefile.org

# Build time
include/
src/libscotch/*.o
src/libscotch/*.a
src/libscotch/dummysizes
src/libscotch/parser_ll.c
src/libscotch/parser_ly.h
src/libscotch/parser_yy.c
src/libscotch/scotch.h
src/libscotch/scotchf.h
src/libscotchmetis/*.o
src/libscotchmetis/*.a
src/scotch/acpl
src/scotch/amk_ccc
src/scotch/amk_fft2
src/scotch/amk_grf
src/scotch/amk_hy
src/scotch/amk_m2
src/scotch/amk_p2
src/scotch/atst
src/scotch/gbase
src/scotch/gcv
src/scotch/gmap
src/scotch/gmk_hy
src/scotch/gmk_m2
src/scotch/gmk_m3
src/scotch/gmk_msh
src/scotch/gmk_ub2
src/scotch/gmtst
src/scotch/gord
src/scotch/gotst
src/scotch/gout
src/scotch/gpart
src/scotch/gscat
src/scotch/gtst
src/scotch/mcv
src/scotch/mmk_m2
src/scotch/mmk_m3
src/scotch/mord
src/scotch/mtst

